/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 de ago. de 2026, 09:07:22
    Author     : aluno
*/

.menu {
    -fx-background-color: #333333;
    -fx-padding: 5px;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.menu-button:hover {
    -fx-background-color: #555555;
}

.menu-button:pressed {
    -fx-background-color: #222222;
}

.boas-vindas {
    -fx-background-color:#ff2177;
}