.root{
    -fx-background-color: mediumturquoise;
}

#titulo, #tituloOcorrencias {
    -fx-background-color: lightseagreen;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-padding: 15px;
    -fx-background-radius: 8px;
}

#campoUsuario, #campoSenha {
    -fx-background-color: aquamarine;  
    -fx-border-color: black
}

#usuario, #senha {
    -fx-font-weight: bold; 
}

#botaoEntrar {
    -fx-font-size: 16px; 
    -fx-font-weight: bold;
    -fx-background-color: lightseagreen;
    -fx-text-fill: white;
    -fx-border-color: black;
}

#local, #data, #hora, #tipo, #equipe, #descricao {
    -fx-font-weight: bold;
    -fx-font-size: xx-large;
    
}

#espacos {
    -fx-background-color: mediumturquoise;
}

#botaoConfirmar, #botaoCancelar {
    -fx-background-color: lightseagreen;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-color: black;
}

#camposUsuario {
    -fx-background-color: mediumturquoise;
    -fx-border-color: black;
    -fx-border-radius: 20px;
}

